@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
    background: #f3f3f3;
    color: #444;
    font-family: 'Roboto', sans-serif;
}

#img2{
    background: url('./angular-black.png');
    height: 100px;
    width: 100px;
    background-size: cover;
}

img{
    height: 100px;
    width: 100px;
    background-size: cover;
}